body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  background-color: #007BFF;
  color: white;
  padding: 1rem;
}
select {
  margin-top: 1rem;
}
main {
  padding: 2rem;
}
